@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-image: url(./img/1125081.png);  
  }
  @keyframes pagOpen {
    from {
       transform: translateY(100%);
        top: 100%;
        opacity: 0;
    }
  }
  .container {
    background-image: url(./img/1125081.png);    
    background-repeat: repeat;
    background-size: auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }

  .navbar {
    background-color: #2a009e;
    overflow: hidden;
   
  }
  .name-site {
    color: #fff;
    align-self: center;
    justify-self: center;
  }

  .dropdown {
    float: left;
    overflow: hidden;
    transition: 0.5s;
  }

  .dropdown .dropbtn {
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
    padding: 14px 20px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    transition: 0.5s;
  }

 
.titulo {
  font-size: 50px;
  color: #fff;
}

.image-inicio {
   width: 100%;
   
   align-items: center;
   justify-content: center;
   display: flex;
}

.valorant-simbol {
    margin-right: 15%;
    
    
    animation: pagOpen 1s ease-in-out 1;
}

.jett {

    
    animation: pagOpen 1s ease-in-out 1;
}

.inscreva-se {
    margin-top: 10%;
    padding: 50px;
    background-color: #fff;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.pgto {
  margin-top: 10%;
    padding: 50px;
    width: 50%;
    background-color: #fff;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.qrcode {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ctrlc-ctrlv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ctrlc-ctrlv p{
text-align: center;
}

.itens-dentro-pgto {
  display: flex;
  align-items: center;
  justify-content: center;
}

.itens-dentro-pgto img {
  width: 300px;
  height: 300px;
}

.inscreva-se input {
    background-color: #ddd;
    border-style: none;
    font-size: 40px;
    padding: 10px;
    border-radius: 100px;
    text-align: center;
}

.inscreva-se input:hover {
    background-color: rgb(189, 189, 189);
}

.inscreva-se button {
    background-color: #2a009e;
    border-style: none;
    border-radius: 20px;
    font-size: 30px;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    margin-top: 5%;
}

.inscreva-se button:hover {
    background-color: #3d07d1;
}

#formulario {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.informacoes {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin: 5%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  
  .informacoes h2 {
    color: #333;
    font-size: 24px;
  }
  
  .informacoes p {
    color: #555;
    font-size: 16px;
    line-height: 1.6;
  }
  
  .informacoes a {
    color: #0077cc;
    text-decoration: none;
  }
  
  .informacoes a:hover {
    text-decoration: underline;
  }
  
  .sobre-nos {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
  
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.sobre-nos h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 15px;
}

.sobre-nos p {
    color: #555;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.sobre-nos strong {
    color: #00f7ff;
}

.sobre-nos a {
    color: #0077cc;
    text-decoration: none;
}

.sobre-nos a:hover {
    text-decoration: underline;
}

.conteudo-de-baixo {
    width: 100%;
    
    align-items: center;
    justify-content: center;
    display: flex;
}

.taxas {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin: 5%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.taxas h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 15px;
}

.taxas p {
    color: #555;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.taxas strong {
    color: #03f7ff;
}

.taxas a {
    color: #0077cc;
    text-decoration: none;
}

.taxas a:hover {
    text-decoration: underline;
}

@keyframes balancar {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
  }

  .informacoes,
.sobre-nos,
.taxas {
  animation-name: balancar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

/* Animação com delays alternados */
.informacoes {
  animation-delay: 0s;
}

.sobre-nos {
  animation-delay: 0.5s;
}

.taxas {
  animation-delay: 1s;
}

.rodape{
  margin-top: 10%;
  background-color: #0077cc;
  position: sticky;
  bottom:0%;
  width: 100%;
  height: 80px;
  align-items: center;
  justify-content: right;
  display: flex;
}

.rodape button {
  background-color: transparent;
  border: none;
}

.rodape svg:hover {
  color: #fff;
  cursor: pointer;
}

.btn {
  background-color: #2a009e;
  border-style: none;
  border-radius: 50px;
  font-size: 20px;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  margin-top: 5%;
}
.btn:hover {
  background-color: #0077cc;
}

.whatsapp {
  background: transparent;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    padding: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .titulo {
    font-size: 26px;
    text-align: center;
  }

  

  .image-inicio img {
    width: 130px;
    height: auto;
  }

  .jett {
    width: 90%;
    margin-top: 20px;
  }

  .inscreva-se {
    width: 90%;
    padding: 20px;
  }

  .inscreva-se input {
    font-size: 18px;
    width: 100%;
  }

  .inscreva-se button {
    font-size: 20px;
    width: 100%;
  }

  .conteudo-de-baixo {
    flex-direction: column;
    align-items: center;
  }

  .informacoes,
  .sobre-nos,
  .taxas {
    width: 90%;
    margin: 20px 0;
  }

  .pgto {
    width: 80vw;
    align-items: center;
    justify-content: center;
  }

  .itens-dentro-pgto {
    flex-direction: column;
  }

  .itens-dentro-pgto img {
    width: 60%;
    height: auto;
  }

  .itens-dentro-pgto p {
    font-size: 11px;
    height: auto;
  }

  .rodape {
    justify-content: center;
    height: auto;
    padding: 10px;

  }
  .navbar {
    justify-content: center;
    height: auto;
    width: 100vw;
    padding: 10px;

  }
  .titulo {
    font-size: 2rem;
  }

  .pgto {
    padding: 1.5rem;
    align-self: center;
    justify-self: center;
    margin-left: 5%;
  }

  .btn, .whatsapp button {
    width: 100%;
  }

  .itens-dentro-pgto {
    flex-direction: column;
    align-items: center;
}
}